body{
    font-size:1em;
    line-height: 1.4;
}

#container{
max-width:inherit;
margin: 0 auto;
}

#content{
    float:left;
    width: 61%;
    background: #fff;
    padding: 0 2%;
} 

#sidemenu{
    float:right;
    width:31%;
    background: #ccc;
    border-bottom: 20px solid #000000;
    padding: 0 2%;
}

#sidemenu ul{
    margin:0;
    padding:0;
}

#sidemenu li{
    list-style:none;
    display: block;
    background: #ddd;
    width:100%;
    padding:3px 0;
}
#sidemenu ul a{
    text-decoration: none;
    color:steelblue;
}
#sidemenu li:hover{
    background: #000;
    color:white;
}
.header-container{
    border-bottom:20px solid #000000;
}

.footer-container{
    float: none;
    width: 100%;
    clear: both;
    margin: 0 auto;
    background:#ddd ;
    text-align:center;
    margin:0 auto;
    padding: 20px;
    padding-bottom:230px;
    border-top:20px solid #000000;
   

}
nav{
    background-color: #333;
    margin: 0;
    overflow: hidden;
    width: 100%;
}
nav ul{
    margin:0;
    
    padding:0;
}
nav ul li{
  list-style-type: none;
    display:inline-block;
    width: 150px;
}
nav a{
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color:white;
    background: #222;
}

nav a:hover{
    background: #000;
}


#contact-form{
    background-color:#dfdfdf;
    padding:20px;
    margin:20px auto;
    border:1px solid #000000;
}
#contact-form label{
    display: block;
}

#contact-form textarea{
    height:200px;
    width:300px;
}
#contact-form input,#contact-form textarea{
    font-size:16px;
    margin-bottom: 5px;
}

#leftfooter{
  float:left;
    width:31%;
    padding: 0 2%;  
}

#leftfooter li{
    list-style:none;
    display: block;
    width:100%;
    padding:3px 0;
}
#leftfooter ul a{
    text-decoration: none;
    color:steelblue;
}
#leftfooter li:hover{
    background: #000;
    color:white;
}


#rightfooter{
  float:right;
    width:31%;
    padding: 0 2%;  
}

#rightfooter li{
    list-style:none;
    display: block;
    width:100%;
    padding:3px 0;
}
#rightfooter ul a{
    text-decoration: none;
    color:steelblue;
}
#rightfooter li:hover{
    background: #000;
    color:white;
}
